@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --color-primary-500: #2563eb; /* Royal Trustworthy Blue */
  --color-primary-400: #3b82f6;
}

@layer base {
  body {
    background-color: #050505; /* Deep Obsidian Black */
    color: #fafafa; /* Crisp Pearl White */
  }
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: #fafafa;
    color: #050505;
  }
}